@media (max-width: 960px) {
  .flex-container {
    max-width: 600px;
    flex-direction: column;
  }

  .editor__result {
    background: #2c3e50;
    border-left: none;
    border-top: solid 3px white;
    flex: 1;
    overflow: auto;
    padding-top: 20px;
  }

  .editor {
    padding-bottom: 150px;
  }

  .CodeMirror.cm-s-dracula.CodeMirror-wrap {
    height: 240px !important;
  }

  .description__list-1, .description__list-2 {
    margin-top: 0px;
}

  .flex-item-4,
  .flex-item-8 {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
    align-self: auto;
  }
}


